@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-light: #ffffff;
    --background-dark: #0a0a0a;
    --foreground-light: #171717;
    --foreground-dark: #ededed;
    --primary: #4c1d95;
    --primary-hover: #6b21a8;
    --primary-light: #8b5cf6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--background-dark);
        --foreground: var(--foreground-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--background-light);
        --foreground: var(--foreground-light);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom text style for form input labels and placeholders */
.input-text-color {
    --tw-text-opacity: 1;
    color: #171717 !important; /* Apply the color to input text */
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.unclickable {
    pointer-events: none;
}
